@config "../tailwind.config.ts";
@import "tailwindcss";

@layer base {
  body {
    /* Apply base styles for Light Mode AND Dark Mode */
    @apply bg-white text-gray-900 dark:bg-slate-950 dark:text-gray-100;
  }
}

/* Ensure the transition applies to the background color change */
html {
  font-size: 20px;
  transition: background-color 0.2s, color 0.2s;
}